<!doctype html>
<html amp lang="ru">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-access" src="https://cdn.ampproject.org/v0/amp-access-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <title>Hot Shapers / Одежда для похудения</title>
    <meta name="description" content="">
    <meta name="keywords" content="спортивная одежда для похудения hot shapers hotshapers избавиться от лишнего веса для фитнеса пояс бриджи леггинсы майка футболка утягивающее боди утягивающие шорты спорт для занятий спортом">
    <link rel="canonical" href="{{url}}" />
    <link rel="icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script id="amp-access" type="application/json">
        {
            "authorization": "/auth?rid=READER_ID&url=CANONICAL_URL",
            "noPingback": true,
            "login": "/login?rid=READER_ID&url=CANONICAL_URL",
            "authorizationFallbackResponse": {
                "error": true,
                "access": false
            }
        }
    </script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Product",
          "name": "Одежда для похудения Hot Shapers",
          "description": "",
          "color": "чёрный/желтый",
          "brand": "Hot Shapers",
          "logo": "img/logo-min.png",
          "offers": [{
                "@type": "AggregateOffer",
                "availability": "http://schema.org/InStock",
                "lowPrice": "1499.00",
                "priceCurrency": "RUR",
                "itemOffered": {
                  "@type": "Product",
                  "name": "Бриджи Hot Shapers",
                  "image": "https://hot-shapers.on-that.website/img/breeches-min.jpg",
                  "description": "Поднимите ваши спортивные достижения на новый уровень! Высокая эффективность в борьбе с лишним весом, достигнутая за счет использования умного материала Neotex, заставит вас удивиться и отложить в сторону дешевые средства для похудения. Благодаря элегантному стилю и комфорту, эти бриджи Hot Shapers незаменимы как для тренировок, так и для повседневной носки. Оцените сами их великолепие и создайте фигуру своей мечты."
                }
              },{
                "@type": "AggregateOffer",
                "availability": "http://schema.org/InStock",
                "lowPrice": "1399.00",
                "priceCurrency": "RUR",
                "itemOffered": {
                  "@type": "Product",
                  "name": "Леггинсы Hot Shapers",
                  "image": "https://hot-shapers.on-that.website/img/leggings-min.jpg",
                  "description": "Мягкие и ультралегкие леггинсы Hot Shapers обеспечивают комфорт, необходимый для сосредоточенности на тренировке. Сделанные из облегающей дышащей ткани, они сливаются с вашим телом, даруя вам соблазнительную фигуру, которая обязательно привлечет внимание мужчин. Модный дизайн леггинсов позволяет носить их во время различных видов деятельности, будь то тренировки, танцы или встреча с друзьями."
                }
              },{
                "@type": "AggregateOffer",
                "availability": "http://schema.org/InStock",
                "lowPrice": "1299.00",
                "priceCurrency": "RUR",
                "itemOffered": {
                  "@type": "Product",
                  "name": "Футболка Hot Shapers",
                  "image": "https://hot-shapers.on-that.website/img/tshirt-min.jpg",
                  "description": "Лучший выбор для высокоактивных спортсменов, стремящихся к созданию идеальной фигуры. Использование технологии Neotex при создании этой футболки дает возможность увеличить эффективность тренировок в несколько раз. Многослойная структура интеллектуального материала повышает температуру тела, в то же время не позволяя вам перегреться. Вы можете носить эту футболку Hot Shapers с длинным рукавом как в спортивном зале, так и повседневно, комбинируя с джинсами."
                }
              },{
                "@type": "AggregateOffer",
                "availability": "http://schema.org/InStock",
                "lowPrice": "1249.00",
                "priceCurrency": "RUR",
                "itemOffered": {
                  "@type": "Product",
                  "name": "Майка Hot Shapers",
                  "image": "Майка Hot Shapers представляет собой все, что нужно для активного отдыха. Технологически совершенная и удобная, она позволит вам получить максимальный результат от любой тренировки. А стильный дизайн делает эту майку идеально подходящей как для повседневного использования, так и для занятий в спортзале и прогулок по парку.",
                  "description": ""
                }
              },{
                "@type": "AggregateOffer",
                "availability": "http://schema.org/InStock",
                "lowPrice": "799.00",
                "priceCurrency": "RUR",
                "itemOffered": {
                  "@type": "Product",
                  "name": "Пояс Hot Shapers",
                  "image": "https://hot-shapers.on-that.website/img/belt-min.jpg",
                  "description": "Этот легкий и удобный пояс запомнится вам тем, что поднимет эффективность самых легких тренировок до уровня атлетов мирового класса. Разработанный специально, чтобы незаметно облегать ваше тело, пояс Hot Shapers совершенно не виден под одеждой. Вы можете носить его во время интенсивных тренировок в спортзале, или когда принимаете успокаивающий сеанс йоги."
                }
              }
          ]
        }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        .catalog:after,.neotex:after{content:'';clear:both}.home-overlay,.neotex-overlay,.promo-overlay{top:0;left:0;right:0;bottom:0;height:auto}body,html{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;font-family:"Open Sans",sans-serif}*{-webkit-box-sizing:inherit;box-sizing:inherit}.home{max-width:1900px;margin:0 auto;min-height:100vh;position:relative}.home-overlay{max-width:1900px;position:absolute;background:url(img/home-min.jpg) no-repeat no-repeat;background-size:cover;z-index:-1}header{padding:10px;text-align:center}.logo{float:left}.nav-contacts{float:right;display:none}.nav-contacts p{margin:0;font-size:.9em;text-align:center}.nav-contacts a,.sidebar-contacts a{display:block;font-size:1.3em;font-weight:700;text-decoration:none;color:#000;opacity:.7}.sidebar-contacts{display:block}.sidebar-contacts a{color:#ffd600}.nav-contacts a:hover{opacity:1;color:#ffd600}.menu{display:none;padding:0}.menu li,amp-sidebar .menu{display:inline-block}.menu li a{text-decoration:none;color:#000;font-size:1.2em;margin-left:15px;opacity:.7}.menu li a:hover{opacity:1;border-bottom:2px solid #ffd600}.hamburger{outline:0;background:0 0;font-size:2em;float:right;border:2px solid #ffd600}.btn,amp-sidebar button{border:none;}amp-sidebar{padding:10px}amp-sidebar .menu{margin-top:20px}amp-sidebar .menu li{display:block;margin-bottom:10px}amp-sidebar .menu li a{margin-left:0}amp-sidebar button{margin-top:20px;font-size:1em;outline:0;background:0 0;opacity:.7}.btn:focus,.neotex-subscription input[type=email]:focus{outline:#ffd600 auto 5px}.title{width:300px;margin:25vh auto 0;font-size:1rem;color:#303030}.title h1{font-size:1.5em;font-weight:400}.title p{font-size:2em;font-weight:700}.btn{padding:.7em 2em;font-size:1em;cursor:pointer;-webkit-box-shadow:none;box-shadow:none;max-width:100%}.btn.default{color:#000;border:3px solid #000;background-color:#ffd600;text-transform:uppercase}.btn.small{font-size:0.8em}.btn.small+.btn.default{margin-top:10px}.btn.yellow-border{border:3px solid #ffd600}.btn.block{width:100%}.btn.close{position:absolute;right:20px;top:20px;width:30px;height:30px;padding:0;background:0 0;font-size:2em;line-height:30px;color:#fff}.neotex{position:relative;max-width:1900px;margin:0 auto}.neotex-overlay{max-width:1900px;position:absolute;background:url(img/neotex-min.jpg) no-repeat no-repeat;background-size:100% auto;z-index:-1}.neotex-content{padding-top:20px;margin-left:auto;margin-right:160px;max-width:500px;text-align:left}.neotex h2{color:#ffd600;text-transform:uppercase;font-size:2em}.neotex p{color:#fff;line-height:1.7em}.neotex strong{color:#ffd600;text-transform:capitalize}.neotex-subscription{min-height:250px;margin-top:30%;margin-left:auto;margin-right:150px;max-width:500px;padding:30px;font-size:1rem;color:#303030}.neotex-subscription h3{font-size:1.8em;margin-bottom:0}.neotex-subscription p{line-height:1.7em;color:#303030}.neotex-subscription input[type=email]{border:3px solid #000;padding:.7em .2em;font-size:1em;width:100%}.neotex-subscription input[type=email]+.btn{margin-top:10px}.catalog{max-width:1900px;margin:0 auto;border-top:2px solid #ffd600;border-bottom:2px solid #ffd600;padding:10px 50px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.catalog:after{display:block}.catalog-image{max-width:100%;width:500px;height:auto}.catalog-content .name{font-size:1.8em}.catalog-content .description{font-size:1em;line-height:1.6em;max-width:500px}.catalog-content .sizes-caption{font-weight:700;margin-right:100px}.catalog-content .sizes{font-weight:400;display:block;margin-bottom:10px}.catalog-content .price{font-size:2em;font-weight:700;margin-right:90px}.promo{background-color:#000}.promo-container{position:relative;max-width:1440px;margin:0 auto}.promo-content{max-width:400px;margin-right:100px;margin-left:auto;padding-top:5vw;padding-bottom:5vw;color:#fff;position:relative;z-index:0}.promo-content h2{color:#ffd600;font-size:2em}.promo-content p{font-size:1em;line-height:1.7em}.promo-content .promo-sale{font-size:2.2em;color:#ffd600;margin:0;font-weight:700;text-align:center}.promo-overlay{max-width:1900px;position:absolute;background:url(img/promo-min.jpg) no-repeat no-repeat;background-size:100% auto;z-index:0}amp-accordion .acc-header{outline:0;border:none;background:#000;color:#ffd600;text-align:center;padding:.5em 0;font-size:1.2em}amp-accordion .acc-content{padding:20px}amp-lightbox{background:rgba(30,30,30,.5)}.order-wrapper,.success-wrapper{background-color:#000;text-align:center}.order-wrapper{position:absolute;top:50%;left:50%;color:#fff;padding:20px 30px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.order{max-width:600px;margin:0 auto}.order amp-img{width:100%;height:auto}.order-wrapper .order-phone{text-decoration:none;font-size:2em;font-weight:700;color:#ffd600}.order-add{display:inline-block;padding:20px;max-width:250px;font-size:1rem}.add-container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.add-title{-webkit-box-flex:1;-ms-flex:1 0 100%;flex:1 0 100%}.order-add h3{font-size:1em;color:#ffd600}.order-add div,.order-add p{font-size:.8em}.order-add .add-price{font-size:1em;color:#ffd600;margin-bottom:0;font-weight:700}.success-wrapper{color:#fff;width:100%}.success-wrapper h3{font-size:2em;color:#ffd600;margin-bottom:0}.success-wrapper p{font-size:1.4em}.success-wrapper h4{font-size:1.3em;color:#ffd600}.success-wrapper ul{list-style:none;padding:0}.success-wrapper a{font-size:1em;line-height:1.7em;color:#fff;text-decoration:none;cursor:pointer}.success-wrapper a:hover{color:#ffd600}.amp-carousel-button-next{right:16px;background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='#000000' viewBox='0 0 18 18'><path d='M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z'/></svg>");background-size:18px 18px;background-color:#ffd600}.amp-carousel-button-prev{left:16px;background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='#000000' viewBox='0 0 18 18'><path d='M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z'/></svg>");background-size:18px 18px;background-color:#ffd600}@media (max-width:1200px){.order-wrapper{position:static;-webkit-transform:none;transform:none}.order-wrapper .order-phone{font-size:1.8em}}@media (max-width:1024px){.neotex-overlay{background-size:100% auto}.neotex-content{margin-right:40px;font-size:.8em}.neotex-subscription{margin-top:200px;margin-right:70px}.catalog{padding:10px}.catalog-content .price{margin-bottom:0;margin-top:0}}@media (max-width:950px){.neotex-content,.neotex-subscription{margin:0;max-width:none}.neotex-content{padding:60% 20px 0}.neotex-content p{color:#303030}.neotex-subscription form{text-align:center}.neotex-subscription input[type=submit]{margin-top:10px}.catalog{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.catalog-content .description{max-width:none}.promo-content{max-width:100%;margin:0;padding:50% 10px 10px}.promo-content h2{font-size:1.6em}}@media (min-width:768px) and (max-width:1024px) and (orientation:portrait){.title{width:500px;font-size:1.5rem}.home-overlay{background-position:20% 0}}@media (max-width:1024px) and (orientation:landscape){.title{margin-top:13vh}.home-overlay{background-position:60% 0}}@media (min-width:1024px){.hamburger{display:none}.nav-contacts{display:block}.menu{display:inline-block}.promo-overlay{background-size:auto 100%}}@media (max-width:700px) and (orientation:portrait){.home-overlay{background-image:url(img/home-vert-sm-min.jpg)}}@media (min-width:700px) and (orientation:portrait){.home-overlay{background-image:url(img/home-vert-min.jpg)}}@media (max-width:767px){.btn.small+.btn.small{margin-top:10px}.btn.close{top:10px;right:10px}}@media (max-width:700px) and (orientation:landscape){.home-overlay{background-image:url(img/home-sm-min.jpg)}}@media (max-width:700px){.neotex-overlay{background-image:url(img/neotex-sm-min.jpg)}.promo-overlay{background-image:url(img/promo-sm-min.jpg)}}
    </style>
</head>
<body>
    <amp-sidebar id='sidebar' layout='nodisplay'>
        <div class="sidebar-logo">
            <amp-img src="img/logo-min.png" alt="Hot Shapers" width="176" height="45"></amp-img>
        </div>

        <ul class="menu">
            <li><a href="#breeches"> Бриджи</a></li>
            <li><a href="#leggings"> Леггинсы</a></li>
            <li><a href="#t-shirt"> Футболка</a></li>
            <li><a href="#shirt"> Майка</a></li>
            <li><a href="#belt"> Пояс</a></li>
        </ul>

        <div class="sidebar-contacts">
            <p>с 8:30 до 21:00</p>
            <a href="tel:+74951202762">+7 (495) 120-27-62</a>
            <p>Доставка по всей России</p>
        </div>

        <button on="tap:sidebar.close">Закрыть</button>
    </amp-sidebar>

    <section class="home">
        <div class="home-overlay"></div>

        <header>
            <div class="logo">
                <amp-img src="img/logo-min.png" alt="Hot Shapers" width="176" height="45"></amp-img>
            </div>

            <button class="hamburger" on='tap:sidebar.toggle'>☰</button>

            <ul class="menu">
                <li><a href="#breeches">Бриджи</a></li>
                <li><a href="#leggings">Леггинсы</a></li>
                <li><a href="#tshirt">Футболка</a></li>
                <li><a href="#shirt">Майка</a></li>
                <li><a href="#belt">Пояс</a></li>
            </ul>

            <div class="nav-contacts">
                <time datetime="8:30−21:00">с 8:30 до 21:00</time>
                <a href="tel:+74951202762">+7 (495) 120-27-62</a>
                <p>Доставка по всей России</p>
            </div>
        </header>

        <div class="title">
            <h1>
                <span amp-access="NOT name">Одежда для похудения для мужчин и женщин</span>
                <span amp-access="access AND name">
                    <template amp-access-template type="amp-mustache">
                        Рады вас видеть, \{{name}}!
                    </template></span>
            </h1>
            <p>Начните борьбу с лишним весом уже сегодня!</p>
            <button class="btn default block" on="tap:order">Сделать заказ</button>
        </div>
    </section>

    <section class="neotex">
        <div class="neotex-overlay">
        </div>

        <div class="neotex-content">
            <h2>
                Neotex
            </h2>
            <p>
                Умный четырехслойный материал, из которого сделана одежда <strong>Hot Shapers</strong>, позволяющий увеличить температуру тела во время тренировок. Уникальная технология впитывает пот и задерживает его внутри, тем самым сохраняя одежду от пятен.
            </p>
            <p>
                Благодаря материалу <strong>Neotex</strong>, одежда для похудения <strong>Hot Shapers</strong> легка и удобна, хорошо растягивается и имеет дизайн, позволяющий носить ее повседневно.
            </p>
        </div>

        <div class="neotex-subscription" amp-access="subscriber">
            <h3>Спасибо за подписку!</h3>
            <p>Для вас действует <b>скидка 15%</b> на весь товар!</p>
        </div>

        <div id="subscription" class="neotex-subscription" amp-access="NOT subscriber">
            <h3>Хотите скидку?</h3>
            <p>Подпишитесь и получите <b>скидку 15%</b> на весь товар! <br> Также вы сможете первыми узнавать о новых акциях и товарах.</p>
            <button class="btn default block" on="tap:amp-access.login">Подписаться на акции</button>
        </div>
    </section>

    <amp-lightbox id="order" layout="nodisplay" scrollable>
        <form class="order-wrapper" method="POST" action-xhr="/order" on="submit:order-form.hide" target="_top">
            <button class="btn close" on="tap:order.close" title="Закрыть">×</button>

            <div id="order-form">
                <div class="order">
                    <a class="order-phone" href="tel:+74951202762">+7 (495) 120-27-62</a>
                    <p>Или оставьте заявку и наш менеджер перезвонит вам в течение 15 минут</p>
                    <input class="btn yellow-border small" name="name" type="text" placeholder="Ваше имя" pattern="^[A-Za-zА-Яа-яЁё0-9_]{1,15}$">
                    <input class="btn yellow-border small" name="phone" type="tel" placeholder="Ваш номер телефона" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" title="Введите ваш номер телефона, например, 89991234567" required>
                    <input class="btn default yellow-border" type="submit" value="Отправить">
                </div>
                <div class="add-container">
                    <h3 class="add-title">С одеждой Hot Shapers часто покупают:</h3>

                    <amp-carousel width="400" height="430"
                                  data-next-button-aria-label="Следующий товар"
                                  data-previous-button-aria-label="Предыдущий товар"
                                  loop type="slides">
                        {{#each adds}}
                            <div class="order-add">
                                <amp-img src="{{img}}" alt="{{name}}" width="300" height="300" layout="responsive"></amp-img>
                                <h3>{{name}}</h3>
                                <p>{{description}}</p>
                                <div>Доступные размеры:
                                    <div>{{sizes}}</div>
                                </div>
                                <p class="add-price">{{price}} ₽</p>
                            </div>
                        {{/each}}
                    </amp-carousel>
                </div>
            </div>
            <div class="success-wrapper" submit-success>
                <template type="amp-mustache">
                    <h3>Спасибо за заказ\{{#name}}, \{{name}}\{{/name}}!</h3>
                    <p>Менеджер свяжется с вами в течение 15 минут.</p>
                    <h4>Возможно вас заинтересуют и другие наши товары?</h4>
                    <ul>
                        <li><a href="http://bunchems-store.com">Конструктор-липучка Bunchems</a></li>
                        <li><a href="http://mag-toys.online">Магнитный конструктор Mag-Building</a></li>
                        <li><a href="http://radio-cars.ru">Радиоуправлемые модели автомобилей</a></li>
                        <li><a href="http://baby-watch.online">Умные детские часы Baby Watch</a></li>
                        <li><a href="http://moda24.online">Интернет-магазин модных аксессуаров</a></li>
                        <li><a href="http://vsekonstruktory.ru">Интернет-магазин конструкторов для детей и взрослых</a></li>
                    </ul>
                </template>
            </div>
            <div class="success-wrapper" submit-error>
                <template type="amp-mustache">
                    <h3>Приносим вам свои извинения\{{#name}}, \{{name}}\{{/name}}!</h3>
                    <p>Похоже, сервер временно недоступен.</p>
                    <p>Пожалуйста, перезвоните по номеру:</p>
                    <a class="order-phone" href="tel:+74951202762">+7 (495) 120-27-62</a>
                    <p>Сообщите менеджеру об ошибке и получите <strong>скидку 20%</strong> на вторую вещь!</p>
                </template>
            </div>
        </form>
    </amp-lightbox>

    <section class="catalog-wrapper">
        {{#each items}}
            <section id="{{id}}" class="catalog {{name}}">
                <div class="catalog-image">
                    <amp-img src="{{img}}" alt="{{name}}" width="500" height="500" layout="responsive"></amp-img>
                </div>
                <div class="catalog-content">
                    <h3 class="name">{{name}}</h3>
                    <p class="description">{{description}}</p>
                    <div class="sizes-caption">
                        Доступные размеры:
                        <div class="sizes">{{sizes}}</div>
                    </div>
                    <span class="price" amp-access="NOT subscriber">{{oldPrice}} ₽</span>
                    <span class="price" amp-access="subscriber">{{newPrice}} ₽</span>
                    <button class="btn default" on="tap:order">Заказать сейчас</button>
                </div>
            </section>
        {{/each}}
    </section>

    <section id="promo" class="promo">
        <div class="promo-container">
            <div class="promo-overlay"></div>
            <div class="promo-content">
                <h2>До сих пор с трудом застегиваете на себе любимые джинсы?</h2>
                <p>Тогда воспользуйтесь нашим специальным предложением!</p>
                <p class="promo-sale">1 + 1 = 3</p>
                <p>Закажите 2 вещи прямо сейчас и получите третью в подарок!</p>
                <button class="btn default block" on="tap:order">Получить подарок!</button>
            </div>
        </div>
    </section>

    <amp-accordion>
        <section>
            <h2 class="acc-header">Доставка и оплата</h2>
            <div class="acc-content">
                <p>
                    Мы можем предложить доставку, как до двери, так и до ближайшего почтового отделения.
                </p>
                <p>
                    Неизменным всегда остается качество наших товаров и возможность оплаты при получении.
                </p>
                <ul>
                    <li>
                        <h5>Доставка по Москве и области</h5>
                        <p>Осуществляется курьером на следующий день после заказа.</p>
                    </li>
                    <li>
                        <h5>Доставка по всей России</h5>
                        <p>Осуществляется Почтой России. Сроки от 2х дней.
                    </li>
                    <li>
                        <h5>Доставка по России до двери</h5>
                        <p>Осуществляется курьерской службой. Сроки от 2 до 14 дней.
                    </li>
                    <li>
                        <h5>Оплата при получении</h5>
                        <p>Оплата производится наличными при получении заказа.
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <h2 class="acc-header">Реквизиты</h2>
            <div class="acc-content" itemscope itemtype="http://schema.org/Organization">
                <p><strong>Интернет-магазин <span itemprop="name">«hot-shapers.online»</span></strong></p>
                <p><strong>Официальный сайт:</strong> <a itemprop="url" href="{{url}}">hot-shapers.on-that.website</a></p>
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><strong>Юр. адрес:</strong> <span itemprop="postalCode">140030</span>, <span itemprop="addressLocality">Российская Федерация, Московская обл., р-н Люберецкий, п. Малаховка</span>, <span itemprop="streetAddress">шоссе Касимовское, дом 2</span></p>
                <p><strong>Телефон/факс:</strong> <span itemprop="telephone">+7 (495) 120-27-62</span></p>
                <p><strong>ОГРН:</strong> 316502700074091</p>
                <p><strong>ИНН:</strong> 502739197263</p>
                <p><strong>Банк:</strong> АО «Тинькофф Банк» г. Москва</p>
                <p><strong>Расчетный счет:</strong> 40802810200000047950</p>
                <p><strong>К/с:</strong> 30101810145250000974</p>
                <p><strong>БИК:</strong> 044525974</p>
            </div>
        </section>
    </amp-accordion>
</body>
</html>